*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-one: #071013;
  --color-two: #23b5d3;
  --color-three: #75abbc;
  --color-four: #a2aebb;
  --color-five: #dfe0e2;
  --color-six: #960018;

  --font-one: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-one);
  color: var(--color-five);
}

.app {
  font-family: var(--font-one);
}

@media (min-width: 768px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .app {
    width: 768px;
    height: 1024px;
  }
}
